<%- include("../partials/head.ejs") %>
  </head>

  <body>
    <header>
      <%- include("../partials/navbar.ejs") %>
    </header>
    <main class="">
      <h1 class="mx-3">THIS IS THE HOME PAGE</h1>
      <div class="container mw-100">
        <% if (productList.length > 0) { %>
          <% for( let i=0; i < productList.length; i++ ) { %>
            <div class="card text-center d-inline-block mx-2 my-3">
              <img src="<%= productList[i].imgLink %> " class="card-img-top" alt="Product Image" />
              <div class="card-body">
                <h5 class="card-title">
                  <%= productList[i].name %>
                </h5>
                <p class="card-text">
                  <%= productList[i].description %>
                  <br>
                  $<%= productList[i].price %>
                </p>
                <a href="/" class="btn btn-primary">Add to cart</a>
              </div>
            </div>
            <% } %>
          <% } else { %>
            <h2>There are no products available</h2>
          <% } %>
      </div>
    </main>
<%- include("../partials/end.ejs")  %>